.DS_Store
*.swp
*.svg
topologic
!include/topologic
include/ef.gy
topologic.js
topologic-glut
!src/topologic*
topologic-json.js
!topologic-json.svg
documentation/html
documentation/xml
topologic-glut.html
topologic-sdl.js
topologic-sdl.html
