.DS_Store
*.swp
*.svg
topologic
!include/topologic
documentation/html
documentation/xml
!topologic-icon.svg
*.xcuser*
*.xccheckout
documentation/*.tag
*.user
build-*
documentation.xml
.downloads
*.gz
dependencies.mk
topologic.tag
doxyfile
*.db
include/libxml
