.DS_Store
*.swp
*.svg
topologic
!include/topologic
include/ef.gy
topologic.js
topologic-glut
!src/topologic*
topologic-json.js
!topologic-json.svg
documentation/html
documentation/xml
topologic-glut.html
topologic-sdl.js
topologic-sdl.html
!topologic-icon.svg
*.xcuser*
*.xccheckout
documentation/*.tag
*.user
build-*
documentation.xml
topologic-web.js
topologic-web.js.xml
topologic-web.html
.downloads
topologic-web.css
topologic-web.css.xml
*.gz
src/chrome/topologic.html
src/chrome/jquery*.js
