<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>Topologic Model Parameters</string>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Model Parameters</string>
		</dict>
		<dict>
			<key>Values</key>
			<array>
				<string>simplex</string>
				<string>cube</string>
				<string>plane</string>
				<string>sphere</string>
				<string>moebius-strip</string>
				<string>klein-bagel</string>
				<string>sierpinski-gasket</string>
				<string>sierpinski-carpet</string>
				<string>random-affine-ifs</string>
				<string>random-flame</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Simplex</string>
				<string>Cube</string>
				<string>Plane</string>
				<string>Sphere</string>
				<string>Möbius Strip</string>
				<string>Klein Bagel</string>
				<string>Sierpinski Gasket</string>
				<string>Sierpinski Carpet</string>
				<string>(Random) Affine IFS</string>
				<string>(Random) Fractal Flame</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Model</string>
			<key>Key</key>
			<string>model</string>
			<key>DefaultValue</key>
			<string>cube</string>
		</dict>
		<dict>
			<key>Values</key>
			<array>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>2D</string>
				<string>3D</string>
				<string>4D</string>
				<string>5D</string>
				<string>6D</string>
				<string>7D</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Model Depth</string>
			<key>Key</key>
			<string>depth</string>
			<key>DefaultValue</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Values</key>
			<array>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>3D</string>
				<string>4D</string>
				<string>5D</string>
				<string>6D</string>
				<string>7D</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Render Depth</string>
			<key>Key</key>
			<string>renderDepth</string>
			<key>DefaultValue</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Vertex Limit</string>
			<key>Key</key>
			<string>limit</string>
			<key>DefaultValue</key>
			<integer>500000</integer>
		</dict>
		<dict>
			<key>Key</key>
			<string></string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Radius</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>radius</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>MinimumValue</key>
			<real>0.1</real>
			<key>MaximumValue</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Key</key>
			<string></string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Precision</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>precision</string>
			<key>DefaultValue</key>
			<integer>3</integer>
			<key>MinimumValue</key>
			<integer>2</integer>
			<key>MaximumValue</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Iterated Function System Parameters</string>
		</dict>
		<dict>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Seed</string>
			<key>Key</key>
			<string>seed</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
		<dict>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Iterations</string>
			<key>Key</key>
			<string>iterations</string>
			<key>DefaultValue</key>
			<integer>3</integer>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
		<dict>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Flame Variations</string>
			<key>Key</key>
			<string>variations</string>
			<key>DefaultValue</key>
			<integer>3</integer>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
		<dict>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Functions</string>
			<key>Key</key>
			<string>functions</string>
			<key>DefaultValue</key>
			<integer>3</integer>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Pre-translation Rotations</string>
			<key>Key</key>
			<string>preRotate</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Post-translation Rotations</string>
			<key>Key</key>
			<string>postRotate</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Colours</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Fractal Flame Colouring</string>
			<key>Key</key>
			<string>fractalFlameColouring</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>Default</string>
				<string>White/Black</string>
				<string>Black/Green</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Colours</string>
			<key>Key</key>
			<string>colour</string>
			<key>DefaultValue</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
